/* =========================================================================

Header

========================================================================== */
.global-header {
  z-index: 9999;

  .fa {
    @media (min-width: 992px) {
      background-color: $dark-grey;
      padding: 9px 12px;
      border-radius: 50%;
      height: 44px;
      width: 44px;
    }
  }

  .fa-user {
    @media (min-width: 992px) {
      padding: 10px 12px 9px 14px;
    }
  }

  .fa-search {
    @media (min-width: 992px) {
      padding: 10px 12px 9px 11px;
    }
  }
  @media (min-width: 768px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    padding: 25px 30px;
  }

  .dropdown-menu {
    padding: initial;

    &:before {
      @media (min-width: 992px) {
        content: "▲";
        position: absolute;
        top: -21px;
        font-size: 20px;
        width: 100%;
        height: auto;
        left: 0;
        color: $w;
        padding-left: 35px;
      }
    }
  }

  .dropdown-item {
    border-bottom: 1px solid $grey;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

li.nav-item:nth-last-child(2) {
  padding-right: 5px;
}
// Mobile Menu
#mobileMenu {
  overflow-y: scroll;
  display: none;
  position: absolute;
  top: -1000px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2000;
  transition: right 0.3s ease-in-out 0s;
  overflow: none;
  border-bottom: 3px solid $w;
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);

  ul {
    margin-bottom: 0;
  }

  li .fa {
    background-color: initial;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50px;
    transition: all 0.5s ease;

    &:before {
      font-size: 26px;
      text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }
  }

  li {
    background: $grey;
    list-style-type: none;
    position: relative;
  }

  li.donation-link {
    background: $color-primary;
  }

  .sub-menu li {
    background: $dark-grey;
  }

  li.open a {
    display: block;
  }

  li.open .fa {
    transform: rotate(-90deg);
  }

  .main-menu li span {
    right: 0;
    top: 50%;
    transform: translate( 0 , -50%);
    position: absolute;
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    height: 45px;
    display: table;
  }

  li a {
    color: $w;
    display: block;
    padding: 15px 15px 15px 30px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    text-shadow: 3px 3px 10px rgba(0,0,0,0.2);

    &:hover {
      text-decoration: none;
    }
  }

  .sub-menu li a {
    padding-left: 45px;
  }

  .main-menu li a {
    padding-right: 50px;
  }

  .utility-menu {
    background: #333;
    width: 100%;
    margin: 0 auto;

    li {
      background: initial;
      padding-left: 15px;
      padding-right: 15px;

      a {
        font-size: 13px;
        border-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }

    span > .fa {
      position: relative;
      display: inline-block;
    }
  }
}

header.nav-expanded {
  #mobileMenu {
    display: block;
    top: 85px;
    max-height: calc(100vh - 85px);
    @media (min-width: 768px) {
      top: 146px;
      max-height: calc(100vh - 146px);
    }
    @media (min-width:1200px) {
      display: none;
    }
  }
}
/*Account dropdown*/
.dropdown-menu.account {
  left: -185px;
  margin-top: 10px;

  &:before {
    @media (min-width: 992px) {
      padding-left: 205px;
    }
  }
}

ul.navbar-nav a {
  font-weight: bold;
  font-size: 1.4rem;
}

.global-header .row {
  align-items: center;
}

.logo {
  max-width: 253px;
  @media (max-width: 767px) {
    max-width: 215px;
  }
}
/* Main Nav */
.nav-item {
  padding-right: 15px;
  font-size: 20px;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ff9a33;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.donate:focus,
.navbar-light .navbar-nav .nav-link.donate:hover,
.navbar-light .navbar-nav .show > .nav-link.donate {
  color: #ffffff;
}
/* End Main Nav */
/* Donate button */
.donate:active,
.donate:focus,
.donate:hover {
  transition: 0.6s ease;
}
/* End donate */
@media (min-width: 1200px) {
  .mobile-logo {
    display: none;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
  }
}
/* Mobile */
@media (max-width: 1199px) {
  .desktop-logo {
    display: none;
  }

  .global-header {
    background-color: #ffffff;
    position: relative;
  }

  .donate {
    max-width: 130px;
    text-align: center;
    color: #ffffff !important;
  }
}

.global-header.sticky.fixed.nav-expanded #mobileMenu {
  top: 67px;
  max-height: calc(100vh - 67px);
}
/* End mobile */
.global-header.sticky.fixed {
  background-color: $w;
  padding: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

  .logo {
    max-width: 200px;
  }

  .mobile-logo .logo {
    max-width: 150px;
    width: 150px;
  }

  li a {
    color: $dark-grey;
  }

  .dropdown-menu:before {
    color: $b;
  }
  @media (min-width: 992px) {
    .btn-featured,
    .fa {
      color: $w;

      &:hover {
        color: #ff9a33;
      }
    }
  }
}
/* FIX active */
.dropdown-item.active, .dropdown-item:active {
  background:white;
  color:black;
}