/* =========================================================================

Search

========================================================================== */
.overlay-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.8);
  z-index: 9999;
  display: none;
}

.overlay-inner {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.overlay-inner form {
  display: flex;
  align-items: center;
}

.overlay-inner input {
  font-size: 20px;
  text-align: center;
}

.overlay-inner input::placeholder {
  color: rgba(72, 72, 72, 0.4);
}

.overlay-inner .btn {
  padding: 5px 20px !important;
}

.esc-form {
  margin-left: 1rem;

  a {
    color: #ffffff;
    font-size: 20px;
    background: $color-primary;
    padding: 2px 10px;
    border-radius: 5px;
  }
}

.search-header:hover {
  cursor: pointer;
}
