/* =========================================================================

Global

========================================================================== */
body, html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

ul {
  padding-left: 0px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  padding: 12px;
}

ul li {
  list-style-position: inside;
}

a {
  color: #ea7600;
}

a:hover,
a:active,
a:focus {
  color: #fb952d;
  text-decoration: none;
}


/* =========================================================================

Header on empty pages with no Hero

========================================================================== */

body.blank {


  .global-header {
   position: relative;

   @media (max-width:1199px) {
     border-bottom: 1px solid #eee;
   }
   @media (min-width:1200px) {
     background: #666;
   }
   .nav-link {
     @media (min-width:1200px) {
       color: $w;
     }
   }
 }



 h1 {
   margin-top: 50px;
   margin-bottom: 50px;
 }
}

/* ========================================================================== */

.hidden {
  display: none;
}

.fixed {
    position: fixed !important;
    top:0;
    left:0;
    width: 100%;
  }

/* =========================================================================

Buttons

========================================================================== */
.btn {
  color: $w;
  background-color: $color-primary;
  padding: 8px 16px;
  font-weight: 900;
  font-size:1.4rem !important;
  &:hover {
    cursor: pointer;
    color: $w;
    background-color: #fb952d;
  }

  &:focus,
  &:active {
    background-color: #fb952d;
    color: $w;
  }
}

.btn-featured {
  color: $w;
  text-align: center;
  vertical-align: middle;
  border: 0;
  font-weight: 900;
}

/* =========================================================================

Fonts and Sizes

========================================================================== */


.nav-tabs .nav-link {
  background-color: $color-primary;
  color: $w;
  font-weight: 900;
  font-size: 1.4rem;
}

h2 {
  font-weight: 300;
}


p,li {
  font-weight: 300;
}

/* =========================================================================

Nav Tabs

========================================================================== */
.nav-tabs .nav-link.active {

  border: none;
  background-color: #6d81b2;
  color: $w;
  margin-left: 10px;
  margin-right: 10px;
}

/* =========================================================================

Heros

========================================================================== */

/*Interior Hero*/
.interior-hero {

  background-size: cover;
  height: 500px;
  background: url(/images/our-work/2560x800px-sad-child.jpg);
  position: relative;
  background-position: center center;
  @media(max-width:640px) {
    background:url('/images/hero/mobile/640x600-sad-girl.jpg');
    background-position:center;
    background-size: cover;
   }
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
  }

  .nav {
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  h2 {
    color: $w;
    font-weight: 700;
  }

}

/*Positioning copy*/
.top-background-copy {
  position: absolute;
  // top: 83%;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: $w;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  z-index: 999;

  @media (max-width: 576px) {
    // top: 50%;
  }
}

/*Home Hero*/
.heroContainer {
  @media (min-width: 992px) {
    h2 {
      // font-size: 2.5rem;
      margin-bottom: 0;
    }
    p {
      // font-size: 1.4rem;
    }
  }
}


/* =========================================================================

youTube Videos

========================================================================== */

.youtube {
	background-color: #000;
	// margin-bottom: 30px;
	position: relative;
	// padding-top: 56.25%;
  padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
}
.youtube img {
	width: 102%;
	top: -16.82%;
	left: 0;
	opacity: 0.7;
}
.youtube .play-button {
	width: 100px;
	height: 100px;
  background-image: url('/images/about-us/Play-Button.png');
  opacity: 1;
	z-index: 1;
}

.youtube img,
.youtube .play-button {
	cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
