footer {
  padding-bottom: 40px;
  background-color: #666;

  .contact {
    margin-top: 1em;
    @media (min-width: 768px) {
      margin-top: 40px;
    }
  }

  a {
    color: $w;
  }

  h2 {
    color: $w;
  }

  ul {
    color: $w;
  }

  .newslttr-form {
    input {
      padding: 0.675rem 0.75rem;
    }
  }

  .footer-container {
    padding-top: 75px;
  }
}
/* ===================== SOCIAL ================ */
.bottom-menu-social-left {
  display: block;
}

.bottom-menu-social-right {
  display: block;
}

.bottom-menu-social-link {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.bottom-menu-social-icon {
  border: 0;
  border-radius: 8px;
  width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 12px;
}

.bottom-menu-social-icon i {
  color: $w;
  font-size: 30px;
}

.botFooter {
 padding:20px 0px;
  background:#222;
  color: #fff;

  .copywrite {
    padding-right: 10px;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 0 10px;
       a {
          color: white;
          &:hover {
            color:#fb952d;
          }
        }

    }
  }

  p {
    font-size: 13px;
  }
}
