/* =========================================================================

Home Map

========================================================================== */
.action-map-section {
  background-color: #e1e1e1;

  .row {
    align-items: center;
  }
}

.action-map-middle {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
}

.action-map-left-container {
  @media (max-width: 992px) {
    padding-top: 50px;
  }
}

.action-map-middle-container {
  @media (min-width: 992px) {
    padding-left: 0;
  }
}
/* =================== LEFT =================== */
.action-map-left {
  color: $b;
}

.action-map-button input {
  /* hide the radio button */
  height: 1px;
  width: 1px;
  background-color: transparent;
  border: none;
}

.action-map-button {
  color: $w;
  background-color: $grey;
  overflow: hidden;
  height: 50px;
  width: 100%;
  border: 0;
  font-size: 1.4rem;
  font-weight: 900;
  text-align: left;
  padding: 10px 0 0 20px;
  margin-bottom: 10px;
  @media (min-width: 992px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.action-map-button.active {
  color: $w;
  background-color: $color-primary;
}
/* =================== MIDDLE =================== */
.action-map-middle {
  height: 525px;
  width: 100%;
}

.action-map-middle-map {
  width: 100%;
  height: 525px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.action-map-google {
  display: none;
}

.action-map-google.active {
  display: block;
  width: 100%;
  height: 100%;
}

.action-map-popup-head {
  color: black;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

.action-map-popup-text {
  color: black;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}
