/* =========================================================================

Sponsor a Child

========================================================================== */
.sponsor-child {
  position: relative;
  background-color: #e9e4d1;

  .show-form {
    color: $color-primary !important;

    &:hover {
      cursor: pointer;
    }

    @media (min-width: 1200px) {
      padding-left: 1rem;
    }

    @media (max-width: 1366px) {
      padding-top: 1rem;
    }
  }

  .carousel {
    position: relative;
    padding: 50px 0;
  }

  ul {
    list-style: none;

    li {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;

      @media (max-width: 992px) {
        width: 50%;
      }
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: $color-primary;
    border-radius: 50%;
    padding: 20px;
  }

  .carousel-control-prev {
    opacity: 1;

    a {
      font-weight: bold;
    }

    span {
      background: white;
      border-radius: 50px;
      padding: 5px 20px;
      font-weight: bold;
      font-size: 40px;
    }
  }
  /*carousel indicators*/
  .carousel-control-next {
    @extend .carousel-control-prev;
  }
}

.sponsor-left-inner {
  background-color: $w;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.5);
  max-width: 460px;
  margin: 0 auto;

  p {
    color: $color-primary;
  }
}

/* =========================================================================

Form Slide

========================================================================== */
.form-slide {
  background-color: #746a68;
  color: $w;

  @media (max-width: 992px) {
    display: none;
  }

  @media (min-width: 992px) {
    right: -2000px;
    position: absolute;
    height: 100%;
  }

  .inner {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      @media (min-width: 1200px) {
        width: 350px;
      }
    }
  }

  .boy-girl {
    margin-right: .5rem;
  }

  .age {
    margin-left: .5rem;
  }

  .form-control {
    margin-bottom: 1rem;
  }
}

/*modal link color*/
.sponsor-modal-trigger {
  color: $color-primary !important;
}

/*Modal*/
.search-pop {
  transform: translate(0, 15%);

  .modal-content {
    background-color: #746a68;
    color: $w;

    .form-control {
      margin-bottom: 1rem;
    }

  }
}

/* =========================================================================

Sponsor a Truck

========================================================================== */
.sponsor-truck {
  margin-bottom: 70px;
}
