/* =========================================================================

Home Hero

========================================================================== */
.top-background {
  overflow: hidden;

  h2 {
    font-weight: 700;
  }
}

.videoBG {
  max-height: 750px;
  height: 65vh;
  min-height: 350px;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    right: 0;
  }
  @media (max-width: 575px) {
    .home .top-background-copy {
      bottom: 20%;
    }
  }
}

.videoBG video {
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
@media all and (min-aspect-ratio:16/9) {
  .videoBG video {
    height: 300%;
    top: -100%;
  }
}
