/* =========================================================================

Home Help

========================================================================== */
.help-now {
  margin-top: 50px;
  margin-bottom: 50px;

  .minimum-msg {
    width: 45%;
    margin-right: 10px;
    margin-left: auto;
    color: #999;
    font-size: 16px;
  }
}

.top-background {
  .nav {
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .nav-tabs .nav-link {
    background-color: $color-primary;
    color: $w;
    padding: 8px 16px;
  }

  .nav-tabs .nav-link.active {
    border: none;
    background-color: $w;
    color: $b;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.help-form-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;

  input {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0.25rem;
    padding: 20px 0;
    text-align: center;
    max-width: 45%;

    &:focus,
    &:hover {
      background-color: $color-primary;
      color: $w;
    }
  }

  input::-webkit-input-placeholder {
    font-weight: 900;
  }

  input:focus::-webkit-input-placeholder,
  input:hover::-webkit-input-placeholder {
    color: $w;
  }

  input.other-amt:focus::-webkit-input-placeholder {
    color: $color-primary;
  }
}
/* ------------- HELP NOW LEFT SIDE -------------- */
.help-now-left-left {
  float: left;
  width: 300px;
  background-color: white;
}

.help-now-left-title {
  font-weight: 900;
  font-size: 26px;
  margin: 25px 0 30px;
  color: black;
  text-align: center;
}

.help-now-btn-style {
  color: #999999;
  background-color: #f0f0f0;
  border: #999999 3px solid;
  height: 52px;
  width: 130px;
  margin: 0 0 20px 20px;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  float: left;
  text-decoration: none;
  padding: 8px 12px;
}

.help-now-btn-style:hover {
  color: white;
  background-color: #F58021;
  border: #666666 3px solid;
}

.help-now-btn-style.active {
  color: white;
  background-color: #F58021;
  border: #666666 3px solid;
}

.help-now-other-amount-style {
  color: #999999;
  background-color: white;
  border: #999999 3px solid;
  border-radius: 24px;
  height: 52px;
  width: 278px;
  float: right;
}

.help-form-item input {
  border-width: 2px;
}

.help-now-other-amount-style {
  padding-left: 22px;
  font-size: 20px;
  font-weight: 900;
}

.help-now-other-amount-style:focus {
  color: white;
  background-color: #F58021;
  border: #666666 3px solid;
  font-size: 20px;
  font-weight: 900;
}

.help-now-other-amount-style::-webkit-input-placeholder {
  padding-left: 22px;
  font-size: 20px;
  font-weight: 900;
}
/* Chrome/Opera/Safari */
.help-now-other-amount-style::-moz-placeholder {
  padding-left: 22px;
  font-size: 20px;
  font-weight: 900;
}
/* Firefox 19+ */
.help-now-other-amount-style:-ms-input-placeholder {
  padding-left: 22px;
  font-size: 20px;
  font-weight: 900;
}
/* IE 10+ */
.help-now-other-amount-style:-moz-placeholder {
  padding-left: 22px;
  font-size: 20px;
  font-weight: 900;
}
/* Firefox 18- */
.help-now-other-amount-style::placeholder {
  padding-left: 22px;
  font-size: 20px;
  font-weight: 900;
}

.help-now-other-amount-label {
  margin: 10px 0 0 60px;
  font-size: 16px;
  color: #999999;
}

.help-now-other-amount-label span {
  text-align: center;
}

#help-now-other-amount::placeholder {
  font-size: 20px;
  padding: 6px 0 0 10px;
  color: #999999;
}

.help-now-dedicate-button label input {
  visibility: hidden;
  /* <-- hide the default checkbox, the rest is to hide and alllow tabbing, which display:none prevents */
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

.help-now-dedicate-button label span {
  /* <-- style the artificial checkbox */
  height: 26px;
  width: 26px;
  border: 3px #999999 solid;
  border-radius: 12px;
  display: inline-block;
  background-color: white;
}

.help-now-dedicate-button [type=checkbox]:checked + span {
  /* <-- style its checked state */
  background: #F58021;
  border: 2px #999999 solid;
}

.help-now-dedicate-text-group {
  float: right;
  margin-left: 15px;
  color: #999999;
  font-size: 16px;
}

.help-now-dedicate-text-left {
  float: left;
}

.help-now-dedicate-text-right {
  margin-left: 10px;
  vertical-align: middle;
  float: left;

  a {
    color: $color-primary !important;

    &:hover {
      color: #fb952d !important;
      cursor: pointer;
    }
  }
}

.help-now-btn-submit {
  color: $w;
  text-align: center;
  vertical-align: middle;
  border: 0;
  margin-top: 20px;
  float: right;
}
/* ------------- HELP NOW MIDDLE LINE -------------- */
.help-now-left-middle-1 {
  float: left;
  width: 25px;
  margin-left: 25px;
  position: relative;
  border-right: 4px #999999 solid;
}

.help-now-left-middle-2 {
  float: left;
  width: 25px;
  margin-right: 25px;
}

.help-now-circle-top {
  display: block;
  float: left;
  width: 0;
  color: #999999;
  font-size: 20px;
  position: absolute;
  top: -6px;
  left: 15px;
}

.help-now-circle-bottom {
  display: block;
  float: left;
  width: 0;
  color: #999999;
  font-size: 20px;
  position: absolute;
  bottom: -6px;
  left: 15px;
}

.help-now-center-text {
  display: block;
  float: left;
  width: 0;
  position: absolute;
  top: 60px;
  left: 0;
}

.help-now-center-text img {
  width: 50px;
}
/* ------------- HELP NOW RIGHT SIDE -------------- */
.help-now-right-title {
  font-weight: 900;
  font-size: 26px;
  margin: 25px 0 30px;
  padding-top: 25px;
  color: black;
}

.help-now-item {
  line-height: 1.4;
  margin-bottom: 20px;
  height: 100px;
}

.help-now-item-title {
  font-weight: 900;
  font-size: 17px;
  color: blue;
}

.help-now-item-icon img {
  width: 100px;
}

.help-now-more-ways {
  border-top: 1px gray dotted;
  font-weight: 900;
  font-size: 17px;
  color: blue;
  padding-bottom: 25px;
  padding-top: 15px;
}

.help-now-more-ways a {
  text-decoration: none !important;
  color: blue !important;
}

.help-now-more-ways a:active,
.help-now-more-ways a:hover,
.help-now-more-ways a:link,
.help-now-more-ways a:visited {
  text-decoration: none !important;
  color: blue !important;
}

.help-now-more-ways i {
  font-size: 21px;
  color: #F58021;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 35px;
  height: 35px;
  background: white;
  border: #999999 3px solid;
}

.styled-checkbox:hover + label:before {
  background: #F58031;
}

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #F58031;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: '✔';
  position: absolute;
  top: 9px;
  left: 7px;
  font-size: 25px;
  line-height: 0.8;
  color: #fff;
}
