/* =========================================================================

Recent Sponsors

========================================================================== */
.sponsor-main {
  background: $w;
  padding: 15px 0;

  .our-sponsor-header {
    display: block;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    color: $w;
  }
}

.recent-sponsors-inner {
  background-color: #529ab1;
  color: $w;

  .our-sponsor-header {
    background-color: #4B879A;
  }
}
/* =========================================================================

Our Sponsors Inner

========================================================================== */
.our-sponsors {
  background-color: $light-grey;

  .images {
    height: 100%;
  }

  .our-sponsor-header {
    background-color: #bcbcbc;
  }
}
