.myAccount {
  margin-top: 60px;
  @media (max-width:768px) {
    margin-top: 20px;
  }

  h3 {
    span {
      font-size: 18px;
    }
  }

  a {
    color: #0099cc;

    &:hover {
      text-decoration: none;
      color: #026b8e;
    }
  }
}

#maPage {
  padding-left: 10px;
}

.userBar {
  height: 48px;
  width: 100%;
  background: #d6d6d6;
  padding: 0 15px;
  font-weight: 700;
}

.maContainer {
  margin-top: 40px;
  padding-left: 5px;
}

.maHeader {
  margin-bottom: 45px;
}

#myAccountMenu {
  list-style: none;

  li {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;

    &.maActive {
      background: #d6d6d6;
      font-weight: 700;

      &:after {
        color: #82c341;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:after {
      content: "\f054";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #999999;
      font-size: 13px;
      padding-right: 0.5em;
      position: absolute;
      top: 15px;
      right: 5px;
    }

    &:hover {
      background: #d6d6d6;
    }

    &:hover:after {
      color: #82c341;
    }

    a {
      color: black;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.warningMessage {
  padding: 10px 0 10px 10px;
  background: #ebebeb;
  border-radius: 10px;
  min-height: 85px;
  position: relative;
  margin-top: 20px;

  img {
    float: left;
    max-width: 65px;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .wmContent {
    padding-top: 10px;
    padding-left: 80px;
  }

  .wmClose {
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
/* Give Summary */
.givingSummary {
  margin-bottom: 60px;
}

.giveItems {
  padding: 10px 0;
}

.giveItemLine {
  border-bottom: 2px dotted #000;
  width: 70%;
  height: 20px;
}

.barTotal {
  padding: 10px;
  background: #ebebeb;
  margin-top: 10px;
}
/*banner ads*/
#bannerAds {
  margin-bottom: 60px;

  .bannerAd {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 49%;
    margin: 2px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .bannerAdContent {
    width: 50%;
    color: white;

    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
    }
  }

  .giveBackpacks {
    background: url('/images/my-account/650x200-Give-Backpacks-Ad.jpg');

    .bannerAdContent {
      position: absolute;
      right: 25px;
      top: 8px;
      text-align: right;
    }
  }

  .giftWings {
    background: url('/images/my-account/650x200-Wings-Ad.jpg');
    margin-left: 5px;

    .bannerAdContent {
      position: absolute;
      left: 25px;
      top: 8px;
      text-align: left;
    }
  }
}
/* FORMS */
#resetPass {
  margin-top: 70px;
}

#CommsPreferences {
  margin: 60px 0;

  hr {
    margin: 8px 0;
  }

  input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    margin-right: 15px;
  }
  /* Might want to wrap a span around your checkbox text */
  .checkboxtext {
    /* Checkbox text */
    font-size: 110%;
    display: inline;
  }
}

#inputDisplay {
  width: 75%;
  display: inline-block;
}

.disLabel {
  margin-right: 10px;
}

.btn-go {
  background: #cccccc !important;
  color: black;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
}

.transTable {
  padding-top: 15px;

  hr {
    border-top: 2px solid #000;
  }

  a {
    font-weight: 700;
    font-size: 17px;
  }

  img {
    padding-right: 5px;
  }

  .totalDetail {
    font-size: 15px;
  }
}

#billingInformation {
  hr {
    border-top: 2px solid #000;
    margin: 30px 0 50px;
  }

  .form-check-input {
    margin-top: 0.45rem !important;
  }

  .labelText {
    padding-left: 20px;
  }

  .otherLabels {
    padding-left: 40px;

    p {
      margin-bottom: 30px;
    }
  }

  input[type=radio] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    margin-right: 15px;
  }

  .biBtn {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    display: block;
    position: relative;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #666666;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+0,666666+100 */
    background: #999999;
    /* Old browsers */
    background: -moz-linear-gradient(top, #999999 0%, #666666 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #999999 0%,#666666 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #999999 0%,#666666 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#999999', endColorstr='#666666',GradientType=0 );
    /* IE6-9 */
  }
}

.monthGTable {
  hr {
    border-top: 2px solid #000;
  }

  .receiptIcon {
    float: left;
    padding-right: 10px;
  }
}

.monPagi {
  margin: 50px 0;
  text-align: center;
  width: 100%;

  span {
    padding: 0 20px;
    text-align: center;
  }

  .fa {
    padding: 7px 5px 5px;
    background: #cccccc;
  }
}

.largeBannerAd {
  background: url('/images/my-account/1350x250-Banner.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 250px;

  .lbaContent {
    color: white;
    width: 60%;
    padding: 40px;

    h3 {
      margin-bottom: 2px;
    }

    .lbaButton {
      padding-top: 15px;
    }
    @media (max-width:1199px) {
      width: 76%;
    }
    @media (max-width:991px) {
      width: 75%;
      padding: 15px;

      .lbaText {
        h3 {
          font-size: 18px;
        }

        p {
          font-size: 13px;
        }
      }

      .lbaButton {
        padding-top: 5px;

        .adBtn {
          font-size: 12px;
          display: block;
        }
      }
    }
  }
}

.adBtn {
  color: white !important;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 15px;
  font-weight: 700;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9900+0,ff6c00+100 */
  background: #ff9900;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff9900 0%, #ff6c00 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff9900 0%,#ff6c00 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff9900 0%,#ff6c00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#ff9900', endColorstr='#ff6c00',GradientType=0 );
  /* IE6-9 */
}

.sponsorships {
  img {
    width: 100%;
  }

  hr {
    border-top: 2px solid #000;
  }

  .childTable {
    margin-bottom: 50px;
  }

  .childColumn {
    h2 {
      margin-bottom: 40px;
    }
  }

  #faq {
    margin-top: 50px;
    margin-bottom: 30px;

    .questionTitle {
      color: #000;
      font-weight: 700;
      font-size: 20px;
    }

    .item {
      margin: 20px 0;
    }

    [data-toggle="collapse"] i:before {
      content: "\f078";
      color: #ff9900;
      padding-right: 20px;
    }

    [data-toggle="collapse"].collapsed i:before {
      content: "\f054";
      color: #ff9900;
    }
  }
}
/* MY ACCOUNT FOOTER */
.myAccountFooter {
  padding-bottom: 0;
  margin-top: 50px;

  .footer-items {
    padding: 50px 0;
  }
}
