/**************************

Global

***************************/
body,
html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.row {
  margin-bottom: 0;
}

label {
  font-weight: 400;
}

.btn-primary {
  background-color: $color-primary;
  border: none;
}

.form-group {
  margin-bottom: 0;
}
/**************************

Header

***************************/
.header-donation {
  padding: 15px 0;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .donation-logo-container {
    max-width: 200px;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}
/**************************

Hero

***************************/
.hero-donation {
  background: url('/images/donation/1920x1100-donation-flow-aspot.jpg');
  background-size: cover;
  height: 800px;
}
/**************************

Left Column

***************************/
.left-col-item img {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.left-col-inner {
  display: flex;
  align-items: center;
}

.multiGiftImg {
  padding-right: 20px;
  max-width: 35%;
}
@media (max-width: 736px) {
  .left-col-inner {
    flex-wrap: wrap;
  }

  .multiGiftImg {
    max-width: 40%;
  }

  .multiGiftText {
    width: 50%;
    float: right;
  }
}
@media (min-width: 736px) {
  .left-col-item {
    padding-right: 30px;
  }
}
/**************************

        Right Column

***************************/
.form-container form {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 -3px 25px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  input:focus::-webkit-input-placeholder {
    color: $w;
  }
}

.form-container form a {
  color: #ea7600;
}

.form-container form a:active,
.form-container form a:focus,
.form-container form a:hover {
  color: #fb952d;
}

.lock {
  text-align: center;
  margin: 40px 0 30px;
  position: relative;
}

.lock .fa {
  font-size: 25px;
}

.lock:after,
.lock:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #000000;
  top: 0;
  bottom: 8px;
  width: 47%;
}

.lock:after {
  left: 53%;
}

.lock:before {
  right: 53%;
}

.form-control[readonly] {
  background-color: #ffffff;
}

.donation-amount {
  display: flex;
}

.donation-amount input::placeholder {
  color: #000000;
}

.donation-amount .form-control:focus {
  background-color: #ea7600;
  border-color: transparent;
}

.donation-amount input {
  width: 25%;
  margin-right: 15px;
  max-width: 108px;
}

#donation-amount:focus,
#donation-amount:hover {
  background-color: #f58021;
  color: #fff;
}

.main-donation {
  .form-control {
    margin-bottom: 10px;
  }
}

#cvv {
  width: 50%;
}

.main-donation .container {
  position: relative;
}
@media (min-width: 992px) {
  .form-container {
    width: 630px;
    position: absolute;
    top: -72%;
    right: 0;
  }
}
@media (min-width: 736px) {
  .radio-row {
    display: flex;
  }

  .radio-row .form-check {
    padding-right: 80px;
  }

  .billing-info,
  .cc-info,
  .name-form {
    display: flex;
  }

  input#first-name,
  select#billing-state,
  select#expire-month {
    margin-right: 5px;
  }

  input#billing-zip,
  input#last-name,
  select#expire-year {
    margin-left: 5px;
  }
}
/**************************

Footer

***************************/
.footer-donation {
  background-color: $dark-grey;
  padding: 30px 0;
}

.footer-menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer-menu a {
  color: #ffffff;
}

.footer-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 737px) {
  .footer-logo {
    padding-right: 50px;
  }

  .footer-menu ul li {
    padding: 0 20px;
  }
}
@media (max-width: 736px) {
  .footer-items {
    flex-direction: column;
    align-items: baseline;
  }

  .header-donation img {
    width: 100%;
  }

  .footer-menu {
    padding-top: 20px;
  }

  .footer-menu ul {
    flex-direction: column;
    padding-left: 0;
  }
}

.form-container {
  order: 2;
}

.donoContent {
  order: 1;
}

.heroKid1 {
  background: url('/images/donation/1920x1100-donation-flow-aspot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroKid2 {
  background: url('/images/donation/1920x1100-donation-flow-aspot-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroKid3 {
  background: url('/images/donation/1920x1100-donation-flow-aspot-03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stewardshipImg {
  width: 65%;
}
/* MOBILE */
@media (max-width:991px) {
  .donoContent {
    order: 2;
    padding: 0 50px;
  }

  .form-container {
    order: 1;
    margin-top: -35%;

    form {
      box-shadow: none;
      border-radius: 20px;
    }
  }

  .hero-donation {
    height: 540px;
  }

  .heroKid1 {
    background: url('/images/donation/640x540-mobile-donate-aspot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .heroKid2 {
    background: url('/images/donation/640x540-mobile-donate-aspot-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .heroKid3 {
    background: url('/images/donation/640x540-mobile-donate-aspot-03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.minDon {
  text-align: right;
  padding-right: 10px;
  margin-top: -5px;
}

.donoP input {
  max-width: 160px;
  margin-left: 0;
  margin-right: 10px;
}

.bbbImg {
  max-width: 65px; 
  padding-right:10px;
}
.digicert {
  max-width:120px;
}