body.account-login {
  .main-donation .container {
    position: initial;
  }

  .hero-donation {
    position: relative;
  }
  .form-container {
    form {
      background-color: initial;
      box-shadow: none;
      border-bottom-left-radius: none;
      border-bottom-right-radius: none;
    }

    .loginmodal-container {
      background-color: #fff;
      padding: 30px;
      box-shadow: 0 -3px 25px 0 rgba(0,0,0,0.65);
      border-radius: 20px;
    }

    .loginmodal-container input[type=submit] {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      position: relative;
    }

    .loginmodal-container input[type=text],
    input[type=password] {
      height: 44px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 10px;
      -webkit-appearance: none;
      background: #fff;
      border: 1px solid #d9d9d9;
      border-top: 1px solid #c0c0c0;
      padding: 0 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

    .loginmodal-container input[type=text]:hover,
    input[type=password]:hover {
      border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
      -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    .login-help {
      font-size: 12px;
    }
    @media (min-width: 992px) {
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
