/* =========================================================================

Hero

========================================================================== */
.our-work-hero {
  .top-background-copy {
    @media (max-width:575px) {
      bottom: 25%;
    }
  }
}
/* =========================================================================

Intro

========================================================================== */
.our-work-intro {
  @media (max-width: 768px) {
    padding-top: 50px;
  }

  .img-inner {
    @media (min-width: 768px) {
      position: relative;
      top: 100px;
    }
  }
}
/* =========================================================================

How we change

========================================================================== */
.work-change {
  background: url('/images/our-work/2560x1000-vegetable-bg.jpg');
  background-size: cover;
  padding: 180px 0;

  h2 {
    color: $w;
  }

  .TWLA-services-section-2 .TWLA-unit {
    background: transparent;
    border: transparent;
    padding: inherit;
  }

  .TWLA-services-section-2 .TWLA-unit-wrap-default {
    background-color: $w;
  }

  .TWLA-unit-wrap-default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hunger-image img {
    height: initial;
    width: initial;
  }
}
/*Change items*/
.change-item-container {
  .change-item {
    background-color: $w;
    position: relative;
    padding: 40px;
    height: 320px;
    /*Changing background color and hiding image and title on hover*/
    &:hover {
      background-color: $color-tertiary;

      .change-title,
      img {
        opacity: 0;
      }
    }
    /*Show overlay and description*/
    &:hover .change-show-overlay {
      transition: 0.6s ease;
      opacity: 1;
    }
  }
}

.change-show-overlay {
  position: absolute;
  color: $w;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  padding: 20px;

  a {
    color: $w;
  }
}
/* =========================================================================

Stories

========================================================================== */
.stories {
  background: url('/images/our-work/2560x700-stories.jpg');
  padding: 180px 0;
  color: $w;
  background-position: 20% center;
}
/* =========================================================================

Reaching Families

========================================================================== */
.reaching-families {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* =========================================================================

Work

========================================================================== */
.work-partnership {
  margin-top: 50px;
  margin-bottom: 50px;
}
.nav-tabs .nav-link.active {
  background:white;
  color:black;
}
.our-work-intro .action-map-middle-map {
  border-top:none;
}
