/* =========================================================================11111

Hero

========================================================================== */
.corporate-partners-hero {
  background: url("/images/corporate-partners/corporate-partners-hero.jpg");
  background-size: cover;
  height: 500px;
  @media(max-width:821px) {
    background:url('/images/hero/mobile/640x600-corporate-partners.jpg');
    background-position:center;
    background-size: cover;
   }
  .orphan-killer {
    display: inline-block;
  }

  .container {
    margin-top: 15em;

    .col-xs-12 {
      text-align: left;
    }
  }
}

.corporate-partners-form form {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 -3px 25px 0 rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  @media (min-width: 992px) {
    margin-top: -20%;
  }

  .form-control {
    margin-bottom: 10px;
  }
}
/* =========================================================================

Slider

========================================================================== */
.partners-slider {
  margin-top: 5rem;
  margin-bottom: 4rem;
}
/* =========================================================================

Contributions

========================================================================== */
.contributions {
  background-color: #5ba3b9;
  color: $w;
}

.contributions-left {
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  @media (max-width: 767px) {
    padding: 100px 0;
  }
}
/* =========================================================================

Philanthropy

========================================================================== */
.philanthropy-left-container {
  background-color: #685e5c;
  color: $w;

  .philanthropy-left {
    @extend .contributions-left;
    @media (max-width: 1200px) {
      padding: 100px 0;
    }
  }
}

.philanthropy-right-container {
  .philanthropy-right {
    height: 100%;
  }

  .middle-image {
    background-image: url("/images/corporate-partners/corporate-partners-collage-img-01.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    @media (max-width: 768px) {
      height: 490px;
    }
  }
  @media (max-width: 1199px) {
    padding-left: 0;
  }
}
/* =========================================================================

Why partner

========================================================================== */
.why-item {
  margin-top: 3rem;

  img {
    @media (max-width: 575px) {
      margin-bottom: 2rem;
    }
  }
}
