/* =========================================================================

Global

========================================================================== */
.about-us-wrapper {
  section {
    margin-bottom: 6rem;
    @media (max-width: 768px) {
      margin-bottom: 3rem;
    }
  }
}
/* =========================================================================

Hero

========================================================================== */
.hero {
  background-size: cover;
  height: 500px;
  background: url("/images/about-us/2560x700-About-Us-Hero.jpg");

  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
  height: 500px;
  @media (max-width:1199px) {
    height:647px;
  }
  @media (max-width:768px) {
    height:585px;
  }
  }
  h2 {
    color: $w;
    font-weight: 700;
  }
}
/* =========================================================================

Intro

========================================================================== */
.about-intro-left {
  @media (max-width: 992px) {
    margin-top: 1rem;
  }
}

.about-intro-right {
  // img,
  .youtube {
    border: 3px solid $w;
    @media (min-width: 992px) {
      margin-top: -30%;
    }
  }
}
/* =========================================================================

Mission section

========================================================================== */
.mission-row-two {
  padding-top: 8px;
}

.mission-item {
  color: $w;
  padding-left: 5px;
  padding-right: 5px;
}

.mission-image-item {
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width:991px) {
  .mission-row-two .mission-image-item:nth-child(2) {
    order: 3;
    margin-top: 10px;
  }

  .mission-row-one #vision-info,
  .mission-row-one .mission-image-2 {
    margin-top: 10px;
  }

  .our-mission .mission-image-item.hide-md {
    display: none;
  }
}
@media (max-width:575px) {
  #mission-info {
    margin-top: 10px;
  }
}

.mission-inner {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#mission-info {
  .mission-inner {
    background-color: $color-primary;
  }
}

#vision-info {
  .mission-inner {
    background-color: #ec009c;
  }
}
/* =========================================================================

Brand values

========================================================================== */
/* =========================================================================

About gifts

========================================================================== */
.about-gifts {
  background: url('images/about-us/2560x800-Gift-Block.jpg');
  padding: 100px 0;
  color: $w;
  background-position: center center;
}
/* =========================================================================

Good stewardship

========================================================================== */
.about-links {

  a {
    padding-right: 10px;
  }
}
/* =========================================================================

Fraud and Abuse

========================================================================== */
.fraud {
  background-color: #efefef;
  padding: 100px 0;
}

.about-pre-footer {
  padding: 50px 0;
}
