#getInvolved {
    .getInHero {
    height: 500px;
       position: relative;
       background:url('/images/get-involved/2560x800-get-involved-hero.jpg');
       background-size: cover;
       background-position: center;
       @media(max-width:640px) {
        background:url('/images/hero/mobile/640x600-get-involved.jpg');
        background-position:center;
        background-size: cover;
       }
       &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
      }
       .heroContent {
           color:white;
           h2 {
               font-weight: 700;
           }
       }
    }
    .bSpots {
        background:url('/images/get-involved/fruit-bg.jpg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: right bottom;
        padding: 150px 0px;
    }
    .responsible {
        height: 300px;
        img {
            width:100%;
        }
    }
    .sponsorChild {
        background:#efebdf;
        .sponsorChildContent {
            padding:50px 35px;
            p {
                width:60%;
            }
        }
    }
    .otherWays {
        margin:20px 0px;
        .TWLA-services-section-2 .TWLA-unit-wrap-default {
            background:white;
            -webkit-box-shadow: 2px 2px 16px -1px rgba(0,0,0,0.55);
            -moz-box-shadow: 2px 2px 16px -1px rgba(0,0,0,0.55);
            box-shadow: 2px 2px 16px -1px rgba(0,0,0,0.55);
        }
        .TWLA-services-section-2 .TWLA-unit {
            padding:25px;
        }
        .hunger-head {
            text-align:center;
        }
        .hunger-image img {
            height: 75%;
            width: 75%;
            }
    }
    .giveToFeed {
        background:#efebdf;
        .gtfContent {
            padding-top:60px;
        }
        .gtfImg {
            max-width:100%;
            padding:25px;
        }
    }
    .waysTohelp {
        margin:80px 0px;
        img {
            width:100%;
            margin-bottom:20px;
        }
    }
}
.scImg {
    max-width:100%;
}

@media (max-width:782px) {
    .responsible {
        margin-top:30px;
    }
}