/* =========================================================================11111

Hero

========================================================================== */
.stories-hero {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(/images/our-work/stories/stories-hero.jpg);
  background-size: cover;
  height: 350px;

  .orphan-killer {
    display: inline-block;
  }

  .container {
    margin-top: 100px;

    .col-xs-12 {
      margin: auto;
      text-align: center;
    }
  }
}

article.blog-story {
  padding-top: 75px;

  .post-info {
    margin-bottom: 1em;

    .post-social {
      margin-left: auto;

      img {
        margin: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .post-featured-img img {
    width: auto;
    max-width: 100%;
  }

  .post-caption {
    padding-top: 2em;

    h3 {
      color: $tan;
      line-height: 1.3;
      font-weight: bold;
      margin-bottom: 1em;
    }

    hr {
      border-bottom: 3px solid $light-grey;
      position: relative;
      width: 95%;
      margin-left: 0;

      &:after,
      &:before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #ebebeb;
        position: absolute;
        bottom: -7px;
      }

      &:before {
        left: -6px;
      }

      &:after {
        right: -6px;
      }
    }
  }

  .post-content {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }

  .post-next-prev {
    .post-next,
    .post-prev {
      display: inline-block;
      font-weight: bold;
    }

    .post-next {
      float: right;

      i {
        margin-left: 2px;
      }
    }

    .post-prev {
      i {
        margin-right: 5px;
      }
    }
  }
}

section.more-posts {
  padding-top: 50px;
  padding-bottom: 50px;

  h3 {
    margin-bottom: 1.25em;
    font-weight: bold;
  }

  .more-posts-item {
    a:hover {
      text-decoration: none;
    }
    margin-bottom: 2em;
    padding-left: 7px;
    padding-right: 7px;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }

    span {
      padding: 1em 10px;
      display: block;
      color: $b;
      font-weight: bold;
      font-size: 85%;
    }
  }
}
