.menu-ico {
    width: 45px;
    height: 45px;
    position: absolute;
    overflow: hidden;
    display: inline block;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin:25px;
  }
  .menu-ico span{   
    width: 45px;
    height: 6px;
    margin-top: 20px;
    background-color: #666;
    position: absolute;
    display:block;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    
  }
  .menu-ico span::before{
    height: 6px;
    width: 45px; 
    margin-top:15px;
    background-color: #666;
    position: absolute;
    content: '';
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    
  }
  .menu-ico span::after{   
    height: 6px;
    width: 45px;  
    margin-top: -15px;  
    background-color: #666;
    position: absolute;
    content: '';
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .menu-ico:hover{
    cursor: pointer;
    height: auto;
    width: 300px;
    margin-bottom:20px;
    padding-bottom:50px;
  }
  .menu-ico:hover > span{  
    background-color: rgba(0, 0, 0, 0)
  }
  .menu-ico:hover > span::before{
    background-color: #666;  
    margin: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu-ico:hover > span::after{
    background-color: #666;
    margin: 0;  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .menu{
    top: 30px;
    position: relative;
    display: inline;   
   }
  .menu li{
    list-style:none; 
    margin-bottom: 5px;  
    width: 300px;
    padding: 10px;  
    background-color: #f1ebdf;
    font-family: Montserrat;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #666;   
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border:1px solid #666;
  }
  
  .menu-ico:hover > .menu li{
    opacity: 1;
  }
  
  .menu li:hover{  
    cursor: pointer;
    color:white;
    background-color: #beb9af;
  }

  .image {
      text-align:center;

  }
.image img {
    width:100%;
    max-width:1920px;
}